# Copy this file to `.env` with `make init-local-env`.
# Never commit the generated `.env`.

# Project namespace (defaults to the current folder name if not set)
#COMPOSE_PROJECT_NAME=myproject

# Password for the `elastic` user (at least 6 characters)
ELASTIC_PASSWORD=replace-with-local-only-elastic-password

# Password for the `kibana_system` user (at least 6 characters)
KIBANA_PASSWORD=replace-with-local-only-kibana-password

# Version of Elastic products
STACK_VERSION=8.7.1

# Set the cluster name
CLUSTER_NAME=docker-cluster

# Set to `basic` or `trial` to automatically start the 30-day trial
LICENSE=basic
#LICENSE=trial

# Port to expose Elasticsearch HTTP API to the host
ES_PORT=9200

# Port to expose Kibana to the host
KIBANA_PORT=5601

# Increase or decrease based on the available host memory (in bytes)
ES_MEM_LIMIT=1073741824
KB_MEM_LIMIT=1073741824
LS_MEM_LIMIT=1073741824

# Random 64-hex-character key for Kibana saved object encryption
ENCRYPTION_KEY=replace-with-64-hex-character-random-key
