data/
exp/
other/
*.pcap
*.csv
*.pickle
!tests/fixtures/**/*.pcap
!tests/fixtures/**/*.csv
**/.ipynb_checkpoints/
*.pyc
__pycache__/
.venv/
cowrie/var/log/cowrie/*
!cowrie/var/log/cowrie/.gitkeep
cowrie/var/lib/cowrie/*
!cowrie/var/lib/cowrie/.gitkeep
